RewriteEngine On

# Define a base para o redirecionamento
RewriteBase /agenda/api/public/

# Impede acesso a diretórios
Options -Indexes
Options -MultiViews

# Se for um arquivo ou pasta real, abre normalmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Caso contrário, manda tudo para o index.php
RewriteRule ^ index.php [QSA,L]